body {
  margin: 0;
  background-color: #8eb471;
  font-family: 'Advent Pro', sans-serif;
  color: rgb(252, 252, 252);
}

h1 {
  /* font-family: 'Amatic SC', cursive; */
  font-family: 'Text Me One', sans-serif;
  text-align:center;
  
  color: yellow;
  background-color: #8eb471;
  font-size: 12vw;
  font-size: 150px;
}

h2 {
  font-family: 'Amatic SC', cursive;
  /* font-family: 'Text Me One', sans-serif; */
  font-size: 55px;
  color: beige;
  text-align:center;
}